.carousel-caption h4 {
  font-family: Arial;
  font-weight: normal;
  line-height: 1.1;
  color: #ffffff;
  margin: 0px;
  font-size: 72px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    top: 14%;
    left: 20%;
    text-align: left;
  }
}
.toolbox-reset .carousel-caption {
  text-align: left;
}
.devpreview .demo .column {
  padding-top: 0px;
  padding-bottom: 0px;
}
.demo .box .view {
  display: block;
  padding-top: 0px;
}

.navbar-right {
  margin-right: 0px;
}

.d-none {
  display: none !important;
}
